.gallery-column-1 {
  margin-right: 30px;

  @media (max-width: $desktop-breakpoint) {
    margin-right: 18px;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-right: 15px;
  }
}

.gallery-column-1__item {
  //
}

.gallery-column-1__item:nth-child(1) img {
  width: 230px;
  height: 230px;

  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 130px;
    height: 130px;
  }
}

.gallery-column-1__item:nth-child(2) img {
  width: 230px;
  height: 154px;

  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 130px;
    height: 89px;
  }

  @media (max-width: $tablet-breakpoint) {
    height: 87px;
  }
}
