.body-login {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-login .header__wrapper {
  display: flex;
  justify-content: center;
}

.body-login .login {
  top: 430px;

  @media (max-width: $tablet-breakpoint) {
    top: 330px;
  }
}
