.burger-btn {
  display: none;
  width: 25px;
  height: 18px;
  padding: 0;

  background: transparent;
  border: none;
  outline: none;

  @media (max-width: $desktop-breakpoint) {
    display: block;
  }
}

.burger-btn--js {
  @media (max-width: $desktop-breakpoint) {
    &:hover {
      cursor: pointer;
    }

    & svg {
      display: block;
      width: 25px;
      height: 18px;

      stroke: $header-icon-color;
    }
  }
}

.burger-btn--menu {
  @media (max-width: $desktop-breakpoint) {
    & svg {
      stroke: $header-icon-color-menu;
    }
  }
}
