.catalog {
  padding-top: 80px;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $catalog-wrapper-max-width;
  padding: 0;

  @media (max-width: $desktop-breakpoint) {
    position: relative;
  }

  // @media (max-width: $tablet-breakpoint) {
  //   //
  // }
}

.catalog__filter {
  //
}

.catslog__slider-container {
  // FIXME outline: ;
  width: 75%;
  margin-right: 0;
  margin-left: 0;

  outline: 2px solid green;

  @media (max-width: $desktop-breakpoint) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  // @media (max-width: $tablet-breakpoint) {
  //   //
  // }
}

.catalog__slider-page {
  //
}
