.login-page {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-page .header__wrapper {
  display: flex;
  justify-content: center;
}

.login-page .login {
  top: 430px;

  @media (max-width: $tablet-breakpoint) {
    top: 330px;
  }
}
