.slider-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // FIXME del outline: ;

  outline: 2px solid red;

  @media (max-width: $desktop-breakpoint) {
    // justify-content: center;
  }

  @media (max-width: $tablet-breakpoint) {
    justify-content: space-between;
  }
}

.slider-page__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-right: 15px;
  margin-left: 15px;

  @media (max-width: $desktop-breakpoint) {
    width: 206px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 130px;
    // margin-right: 0;
    // margin-left: 0;
  }
}

.slider-page__item img {
  width: 270px;
  height: 272px;
  margin-bottom: 17px;

  object-fit: cover;

  @media (max-width: $desktop-breakpoint) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 130px;
    height: 136px;
  }
}
