// FIXME del tech.scss
div {
  outline: 1px solid red;
}

ul {
  outline: 1px solid rgb(63, 14, 128);
}

li {
  outline: 1px solid rgb(145, 38, 145);
}

form {
  outline: 1px solid black;
}

.container {
  outline: 2px solid rgb(117, 145, 38);
}
