.terms {
  display: flex;
  flex-basis: 36.7%;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $desktop-breakpoint) {
    // flex-basis: 65.6%;
    flex-basis: auto;
    justify-content: flex-start;
    margin-right: 4px;
  }

  @media (max-width: $tablet-breakpoint) {
    //
  }
}

.terms__list {
  width: 190px;
  margin: 0 0 10px 0;
  padding: 6px 7px;

  list-style: none;

  @media (max-width: $desktop-breakpoint) {
    padding: 6px 7px 6px 0;
  }

  @media (max-width: $tablet-breakpoint) {
    margin: 0 0 7px 0;
  }
}

.terms__list:nth-child(2n + 1) {
  @media (max-width: $desktop-breakpoint) {
    margin-right: 64px;
  }
}

.terms-list--contacts {
  @media (max-width: $desktop-breakpoint) {
    // width: 170px;
  }
}

.terms__item {
  margin-bottom: 21px;

  // @media (max-width: $desktop-breakpoint) {
  //   //
  // }

  // @media (max-width: $tablet-breakpoint) {
  //   //
  // }
}

.terms__item a {
  @include font_poppins(16px, 21px, 500, $font-basic-light);

  // @media (max-width: $desktop-breakpoint) {
  //   //
  // }

  // @media (max-width: $tablet-breakpoint) {
  //   //
  // }
}
